body
{
	background-color: #000;
	color: #fff;
	font-family: "Verdana", sans-serif;
	font-size: 18px;
	line-height: 24px;
	margin: 20px;
}
h1
{
	font-size: 32px;
	line-height: 32px;
	margin: 0px;
	font-weight: normal;
	color: #999;
	padding: 0px 0px 16px 0px;
}

table#events tr.past
{
	color: #999;
}

table#events tr.future
{
	color: #fff;
}

table#events tr.done
{
	color: #333;
}

table#events tr.event th,
table#events tr.event td
{
	cursor: pointer;
}

table#events
{
	margin: 0;
	padding: 0;
}

table#events th,
table#events td
{
	font-weight: normal;
	padding: 0px 10px 10px 0px;
}
table#events td.dist
{
	text-align: right;
}
table#events td.time
{
	text-align: center;
}
table#events td.state
{
	text-align: center;
	visibility: hidden;
	color: #999;
}
table#events tr.done td.state
{
	visibility: visible;
}
table#events tr.reset td
{
	text-align: center;
	font-size: 80%;
	color: #999;
	cursor: pointer;
}
table#events th
{
	text-align: left;
}

table#events tr.now td
{
	color: #ccc;
	text-align: center;
}
