@font-face
{
	font-family: "Roadgeek2005SeriesD";
	src: url("http://panic.com/fonts/Roadgeek 2005 Series D/Roadgeek 2005 Series D.otf");
}
body
{
	background-color: #000;
	color: #fff;
	font-family: "Roadgeek2005SeriesD";
	font-size: 18px;
	line-height: 24px;
	margin: 20px;
}
h1
{
	font-size: 32px;
	line-height: 32px;
	margin: 0px;
	font-weight: normal;
	color: #999;
	padding: 0px 0px 16px 0px;
}

table#events tr.past
{
	color: #999;
}

table#events tr.future
{
	color: #fff;
}

table#events
{
	margin: 0;
	padding: 0;
}

table#events th,
table#events td
{
	font-weight: normal;
	padding: 0px 10px 10px 0px;
}
table#events td.dist
{
	text-align: right;
}
table#events td.time
{
	text-align: right;
}
table#events th
{
	text-align: left;
}

table#events tr.now td
{
	color: #ccc;
	text-align: right;
}
