@font-face
{
	font-family: "Roadgeek2005SeriesD";
	src: url("http://panic.com/fonts/Roadgeek 2005 Series D/Roadgeek 2005 Series D.otf");
}
body
{
	background-color: #000;
	color: #fff;
	font-family: "Roadgeek2005SeriesD";
	font-size: 18px;
	line-height: 24px;
}
h1
{
	font-size: 28px;
	line-height: 28px;
	margin: 0px;
	padding: 16px 0px 4px 0px;
}
h2
{
	font-size: 20px;
	line-height: 32px;
	margin: 0px;
	padding: 16px 0px 4px 0px;
}
h2:first-child
{
	padding-top: 0px;
}
h2.noevents
{
	color: #647076;
	text-align: center;
}
a
{
	text-decoration: none;
}
a:link
{
	color: #00ba00;
}
a:visited
{
	color: #009f99;
}
p
{
	margin: 0px;
	padding: 0px 0px 12px 0px;
	color: #aeb7bc;
}
p.legend
{
	font-size: 14px;
}
p.legend .Success,
p.event.Success
{
	color: #aeb7bc;
}
p.legend .Fail,
p.event.Fail
{
	color: #888;
}
p.legend .Warmup,
p.event.Warmup
{
	color: #647076;
}
p.legend .Active,
p.event.Active
{
	color: #ffc600;
}
p.legend .Preparation,
p.event.Preparation
{
	color: #fc6b00;
}

p.actions
{
	font-size: 14px;
}

p.actions span.action
{
	cursor: pointer;
	color: #00ba00;
}

p.actions span.noaction
{
	font-weight: bold;
}